<mat-card class="main-card">
  <h2>Log In</h2>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Email" required [(ngModel)]="username" name="username">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Password" required type="password" [(ngModel)]="password" name="password">
    </mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
    <button mat-stroked-button color="primary" style="margin-left: 10%;" (click)="signUp()">Sign Up</button>

  </div>
</mat-card>
