<mat-toolbar>
  <mat-toolbar-row>
    <span>Dashboard</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <button
      mat-stroked-button
      color="primary"
      style="height: 100%;width: 100%;"
    >
      <h2>Summary</h2>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-stroked-button
      color="primary"
      style="height: 100%;width: 100%;"
      (click)="addStudyTerm()"
    >
      <h2>+ Study Term</h2>
    </button></mat-grid-tile
  >
  <mat-grid-tile>
    <button
      mat-stroked-button
      color="primary"
      style="height: 100%;width: 100%;"
    >
      <h2>Add Grade</h2>
    </button></mat-grid-tile
  >
  <mat-grid-tile>
    <button
      mat-stroked-button
      color="primary"
      style="height: 100%;width: 100%;"
      (click)="addCourse()"
    >
      <h2>Update Study Term</h2>
    </button></mat-grid-tile
  >
</mat-grid-list>
